@model Deptmsgcolorbranches

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h1>@Model.Message</h1>
        <h5 class="card-title" style="color:@Model.Color">@Model.Department</h5>
        <p class="card-text">@Model.Manager</p>
        <a href="#" class="btn btn-primary">@Model.Manager</a>
        <select>
            @foreach (var b in Model.Branches)
            {
                <option>@b.</option>
            }
        </select>
    </div>
</div>
